<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")

    @Styles.Render("~/Content/less")
    @RenderSection("Scripts", required: false)

    @Scripts.Render("~/bundles/ganttjs")
    @Styles.Render("~/Content/ganttcss")
    <script type="text/javascript">
    $(document).ready(function () {
        $(".accordion").on("click", function () {
            var speed = $(this).parent().children(".table").height() * 1.5;
            $(this).parent().children(".table").animate({ height: "toggle" }, (speed), function () {                
                if ($(this).css("display") == "block") {
                    $(this).css("overflow","");
                }
                
            });
        });
    });
    </script>

</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/GM_Inbox"><img src="~/content/images/logo_elecmetal.png" alt="Elecmetal" style="margin-top:5px" /></a>
            <div class="pull-right" style="margin-top:5px; margin-right: 10px">
               
                <div style="color:white">
                    <img src="~/Content/images/iconUser.svg" width="15" height="15">
                    Hello, @User.Identity.Name,
                </div>
                <div class="pull-right">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" style="color:white; text-decoration: underline">Log out</a>
                    }
                </div>
            </div>
        </div>
    </div>

            @* Size for the upper part ofthe layout *@
            <div class="span3">
            </div>
            <div class="sidebar-nav">
                    @Html.ActionLink("Inbox", "Inbox", "GM_Inbox", null, new { @class = "nav-header" })
                    @Html.ActionLink("Create New PO", "CreatePOC", "GM_POC", null, new { @class = "nav-header" })
                    @Html.ActionLink("Search Customer PO's", "SearchPOC", "GM_Search", null, new { @class = "nav-header" })
                    @Html.ActionLink("Flowchart", "Flowchart", "Flowchart", null, new { @class = "nav-header" })
            </div>

            @RenderSection("featured", required: false)
            <div class="content">
                        @RenderBody()
            </div>
    @Html.DisplayFor(model => model, "DeleteConfirmation")
</body>
</html>
