@model SCMS.ViewModels.GM_POC.DetailsPOCViewModel


            <div class="container-fluid">
    <div class="row-fluid table-bordered" style="margin-bottom: 15px">
        <div class="span5 offset1">
            <div class="form-group">
                <label>Customer Name: </label>
                @Html.DisplayFor(model => Model.Schedule.POC.Customer.Name)
            </div>
            <div class="form-group">
                <label>Customer Address: </label>
                @Html.DisplayFor(model => Model.Schedule.POC.Customer.Address)
            </div>
            <div class="form-group">
                <label>Destination Port: </label>
                @Html.DisplayFor(model => Model.Schedule.POC.DestinationPort.PortProperty)
            </div>
            <div class="form-group">
                <label>Incoterm:</label>
                @Html.DisplayFor(model => Model.Schedule.POC.CustomerIncoterm.Name)
            </div>
        </div>
        <div class="span6 ">
            <div class="form-group">
                <label>Product Type: </label>
                @Html.DisplayFor(model => Model.Schedule.POC.Product.Name)
            </div>
            <div class="form-group">
                <label>Price per Ton:</label>
                @Html.DisplayFor(model => Model.Schedule.POC.PricePerTon)
            </div>
            <div class="form-group">
                <label>Total Amount:</label>
                @Html.DisplayFor(model => model.Schedule.POC.AmountTotal)
            </div>
            <div class="table-bordered" style="margin: 0 15px 15px 0">
                <div class="form-group">
                    <label>Comments: </label>
                </div>
                <div class="form-group">
                    @Html.DisplayFor(model => model.Schedule.POC.Comments)
                </div>
            </div>
        </div>
    </div>
</div>
