@model SCMS.Areas.GM.ViewModels.CreateEditPOCViewModel

@{
    ViewBag.Title = "CreatePOC";
}

<div class="container-fluid">
    <div class="row-fluid">
    <div class="block span8">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>

    
            <a class="block-heading">Customer PO Registration</a>


        <div class="container-fluid">
        <div class="row-fluid">

            <div class="span4">

                <div class="form-group">
                    @Html.LabelFor(model => model.POC.Customer.CustomerProperty)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.POC.Customer.CustomerProperty, new { autocomplete = "off" })
                    <label id="error_destination" class="hidden" style="color:red"></label>
                    @if (Model.DestinationError != "")
                    {
                        <label id="labelDestinationError" style="color:red"> @Model.DestinationError </label>
                    }
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.POC.DestinationPort)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.POC.DestinationPort, new { autocomplete = "off" })
                    <label id="error_port" class="hidden" style="color:red"></label>
                    @if (Model.PortError != "")
                    {
                        <label id="labelPortError" style="color:red"> @Model.PortError </label>
                    }
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedIncotermId)
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.SelectedIncotermId, Model.IncotermItems, "Select Incoterm")
                    @Html.ValidationMessageFor(model => model.SelectedIncotermId)<br />
                    <label id="error_incoterm" class="hidden" style="color:red"></label>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedProductId)
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.SelectedProductId, Model.ProductItems, "Select Product Type")
                    @Html.ValidationMessageFor(model => model.SelectedProductId)<br />
                    <label id="error_ball" class="hidden" style="color:red"></label>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.POC.AmountTotal)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.POC.AmountTotal, new { autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.POC.AmountTotal)
                    <label id="error_tons" class="hidden" style="color:red"></label>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.POC.PricePerTon)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.POC.PricePerTon, new { autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.POC.PricePerTon)
                    <label id="error_price" class="hidden" style="color:red"></label>
                </div>

            </div>

            <div class="span6">
            <div class="form-group">
                @Html.LabelFor(model => model.POC.Comments)
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.POC.Comments)
            </div>
            </div>
        </div>
        </div>
        <div class="panel-footer">
            <div class="row" style="text-align:right">
                <input type="submit" name="submitButton" value="Save" class="btn btn-primary btn-lg" />
                <input type="submit" name="submitButton" value="Save and Send" class="btn btn-primary btn-lg" id="sendButton"/>
            </div>
        </div>
   
    </fieldset>
}
 </div>
</div>
   </div>



