@model SCMS.ViewModels.SCM_Inbox.ListPOCViewModel

@{
    ViewBag.Title = "SearchPOC";
    Layout = "~/Views/Shared/_LayoutSCM.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="block">
            <a class="block-heading">Search PO's</a>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span4" style="padding:20px 0px 0px 20px">
                        <input type="text" id="queryText" />
                        <input id="searchButton" class="btn btn-primary" type="submit" value="Search" />

                        <div class="form-group">
                            <input type="radio" name="filter" id="POCID" checked />
                            <label>POC Number</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="filter" id="customer" />
                            <label>Customer</label>
                        </div>
                    </div>
                    <div class="span4" style="padding-top:20px">
                        <div class="collapse in">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SelectedProductId)
                                
                                @Html.DropDownListFor(model => model.SelectedProductId, Model.ProductItems, "Select Product Type")
                                <br />
                                @Html.LabelFor(model => model.SelectedListStatusId)
                                
                                @*@Html.DropDownListFor(model => model.SelectedListStatusId, Model.StatusItems, "Select POC Status")*@
                                <select id="SelectedListStatusId" name="SelectedListStatusId">
                                    <option value="">Select POC Status</option>
                                    <option value="1">Incomplete</option>
                                    <option value="2">Sent</option>
                                    <option value="-1">Cancelled</option>
                                </select>
                                <br />

                                @Html.LabelFor(model => model.SelectedYearsId)
                                
                                @*@Html.DropDownListFor(model => model.SelectedYearsId, Model.YearsItems, "Select Year of Creation")*@
                                <select id="SelectedYearsId" name="SelectedYearsId">
                                        <option value="">Select Year of Creation</option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012">2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                <br />

                                @Html.LabelFor(model => model.SelectedMonthsId)
                                
                                @*@Html.DropDownListFor(model => model.SelectedMonthsId, Model.MonthItems, "Select Month of Creation")*@
                                <select id="SelectedMonthsId" name="SelectedMonthsId">
                                    <option value="">Select Month of Creation</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                <br />
                                
                                
                            </div>
                        </div>
                        <a class="filter btn" style="color:#414959">>>Advanced filters</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="block">
            <div id="searchResults">
                @Html.Partial("~/Views/SCM_Search/AjaxSearchPOC.cshtml", Model)
            </div>
        </div>

    </div>
        </div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".filter").parent().children(".collapse").animate({ height: "toggle" }, 0);
        $(".filter").on("click", function () {
            $(this).parent().children(".collapse").animate({ height: "toggle" }, 80, function () {
                if ($(this).css("display") == "block") {
                    //$(this).css("overflow", "");
                    $(this).children().css("margin-bottom","0px");
                    $(this).parent().children(".filter").text("Back<<");
                }
                else {
                    $(this).parent().children(".filter").text(">>Advanced filters");
                }
                //$("#SelectedProductId option:selected").val("");
            });
        });
    });
</script>



<script type="text/javascript">
    $(document).ready(function () {
        $("#searchButton").on("click", function (e) {
            e.preventDefault();

            var queryText = $('#queryText').val();
            var searchByPOC = $('#POCID').is(':checked'); //add selector for radio checkbox poc number
            
            var productVal = 0;
            if ($('#SelectedProductId option:selected').val() != "") {
               productVal = $('#SelectedProductId option:selected').val();
            }
            var statusVal = 0;
            if ($('#SelectedListStatusId option:selected').val() != "") {
                statusVal = $('#SelectedListStatusId option:selected').val();
            }

            var yearVal = 0;
            if ($('#SelectedYearsId option:selected').val() != "") {
                yearVal = $('#SelectedYearsId option:selected').val();
            }

            var monthVal = 0;
            if ($('#SelectedMonthsId option:selected').val() != "") {
                monthVal = $('#SelectedMonthsId option:selected').val();
            }

            var queryObject = {
                'query': queryText,
                'searchByPOC': searchByPOC, //true is for searching by ID, false to search by customer/port
                'productType': productVal,
                'statusPOC': statusVal,
                'month': monthVal,
                'year': yearVal
            };

            var jsonQuery = JSON.stringify(queryObject);
            $.ajax({
                url: '/SCM_Search/AjaxSearchPOC',
                data: { jsonQuery: jsonQuery },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    $("#searchResults").html(data);
                }
            });
        });
    });
</script>